HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

##application.yml
src/main/resources/application.yml

##data.sql
src/main/resources/data.sql
src/test/resources/data.sql

##firebase
illdan-firebase-adminsdk-fbsvc-f2e4b78293.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.gitignore.swp
/htmlReport/

/mysql-data-local/
/src/main/resources/.env
/src/main/resources/application.yml
/coupon-consumer/src/main/resources/.env
/coupon-api/src/main/resources/.env
