version: '3.8'

services:
  # 1. MySQL Exporter (RDS)
  mysql-exporter:
    image: prom/mysqld-exporter:v0.18.0
    container_name: mysqld_exporter
    restart: always
    # 1. .env 파일의 변수를 컨테이너 환경 변수로 주입
    environment:
      - MYSQL_USER=${DATABASE_USERNAME}      # .env의 DB_USER
      - MYSQL_PASSWORD=${DATABASE_PASSWORD} # .env의 DB_PASS
      - MYSQL_HOST=${DATABASE_HOST} # 호스트
    ports:
      - "9104:9104"
    # 2. 실행 명령을 재정의하여 설정 파일을 동적으로 생성 후 실행
    entrypoint:
      - /bin/sh
      - -c
      - |
        # 1. 권한이 있는 /tmp 폴더에 설정 파일 생성
        echo "[client]" > /tmp/my.cnf
        echo "user=$$MYSQL_USER" >> /tmp/my.cnf
        echo "password=$$MYSQL_PASSWORD" >> /tmp/my.cnf
        echo "host=$$MYSQL_HOST" >> /tmp/my.cnf
        
        # 2. 생성된 파일을 읽도록 경로 지정 수정
        exec /bin/mysqld_exporter --config.my-cnf=/tmp/my.cnf

  redis:
    image: redis:alpine
    restart: always
    container_name: redis
    hostname: redis
    ports:
      - "6379:6379"
    command: redis-server --bind 0.0.0.0 --appendonly yes --maxmemory 200mb --maxmemory-policy allkeys-lru
    volumes:
      - ./redis-data:/data
    networks:
      - app-network

  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis_exporter
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "9121:9121"
    networks:
      - app-network

networks:
  app-network:
    external: true