version: '3.8'

services:
  # 1. MySQL Exporter (RDS)
  mysqld-exporter:
    image: prom/mysqld-exporter
    container_name: mysqld-exporter
    environment:
      # ✅ RDS 접속 정보 (형식 주의: user:password@(host:port)/)
      - DATA_SOURCE_NAME=${DATABASE_USERNAME}:${DATABASE_PASSWORD}@(${DATABASE_HOST}:3306)/
    ports:
      - "9104:9104" # 외부(Prometheus)에서 접근할 포트
    networks:
      - app-network
    restart: always

networks:
  app-network:
    external: true